data/sce-final.rds filter=lfs diff=lfs merge=lfs -text
data/sce-raw.rds filter=lfs diff=lfs merge=lfs -text
data/fit.quant.rds filter=lfs diff=lfs merge=lfs -text
data/fit_diff_cyclone.rds filter=lfs diff=lfs merge=lfs -text
data/fit_diff_recat.rds filter=lfs diff=lfs merge=lfs -text
data/fit_diff_peco.rds filter=lfs diff=lfs merge=lfs -text
