data/sce-final.rds filter=lfs diff=lfs merge=lfs -text
data/sce-raw.rds filter=lfs diff=lfs merge=lfs -text
data/fit.quant.rds filter=lfs diff=lfs merge=lfs -text
data/fit_diff_cyclone.rds filter=lfs diff=lfs merge=lfs -text
data/fit_diff_recat.rds filter=lfs diff=lfs merge=lfs -text
data/fit_diff_peco.rds filter=lfs diff=lfs merge=lfs -text
data/fit_diff_seurat.rds filter=lfs diff=lfs merge=lfs -text
data/fit_diff_oscope.rds filter=lfs diff=lfs merge=lfs -text
data/ourdata_peco_NA18511_* filter=lfs diff=lfs merge=lfs -text
data/ourdata_peco_*_top005genes.rds filter=lfs diff=lfs merge=lfs -text
data/ourdata_oscope_366genes.rda filter=lfs diff=lfs merge=lfs -text
data/ourdata_recat.rda filter=lfs diff=lfs merge=lfs -text
data/leng2015_data.rds filter=lfs diff=lfs merge=lfs -text
data/nmeth.3549-S2.xlsx filter=lfs diff=lfs merge=lfs -text
data/leng_fucci_oscope_29genes.rda filter=lfs diff=lfs merge=lfs -text
